# All My Programs

### Take two input and Power of it.

In [3]:
number = int(input(Enter Number Here :))
num = int(input())
print(number,'*',num,'=',number**num,end=' ')

56
6
56 * 6 = 30840979456

### Print all the combination of a,b,c.

In [19]:
letters = ['a','b','c']
count = 0
for a in letters:
    for b in letters:
        for c in letters:
            count+=1
            string = ''
            string = string + a+b+c
            print(count,')',' ',string)

1 )   aaa
2 )   aab
3 )   aac
4 )   aba
5 )   abb
6 )   abc
7 )   aca
8 )   acb
9 )   acc
10 )   baa
11 )   bab
12 )   bac
13 )   bba
14 )   bbb
15 )   bbc
16 )   bca
17 )   bcb
18 )   bcc
19 )   caa
20 )   cab
21 )   cac
22 )   cba
23 )   cbb
24 )   cbc
25 )   cca
26 )   ccb
27 )   ccc

### Print Table of number given by user.

In [21]:
number = int(input(Enter Number Here :))
for i in range(1,11):
    print(number,'x',i,'=',i*number)

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### Print Numbers in negative that are given by user.

In [16]:
num=int(input())
for i in range(-num,0):
    print(i)

5
-5
-4
-3
-2
-1

### Take Input and Make pyramid of numbers.

In [1]:
first =int(input(Enter Number Here :))
first +=1
for i in range(1,first):
    for j in range(1 , i+1):
        print(j , end=' ')
    print('')

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Take Input and Make pyramid of stars.

In [55]:
i = int(input(Enter Number Here :))
i = i+1
space=1
for j in range(i):
    for k in range(j):
        print('*', end=' ') 
    print('')

7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

### Make ''ULTA'' Pyramid of stars.

In [19]:
number = int(input(Enter Number Here :))
for i in range(number,0,-1):
    for j in range(i):
        print('*',end=' ')
    print('')

5
* * * * *
* * * *
* * *
* *
*

### Make Mirror image of vertical form of pyramid.

In [33]:
for j in range(1,11):
    for k in range(j):
        print('*', end=' ') 
    print('')
    
print('--------------------')

for i in range(10,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
--------------------
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Print stars pyramid in vertical direction.

In [6]:
number = int(input(Enter Number Here :))
for j in range(0,number):
    for k in range(j):
        print('*', end=' ') 
    print('')   
for i in range(number,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Find Odd and Even number from two input given by user.

In [10]:
num = int(input(Enter Number Here :))
num2 = int(input())
num2+=1
even = 0
odd = 0
for i in range(num,num2):
    if i % 2==0:
        even+=1
    else:
        odd+=1
print('Total Even Numbers :',even)
print('Total Odd Numbers :',odd)

5
90
Total Even Numbers : 43
Total Odd Numbers : 43

### Make ''ULTA'' Pyramid of numbers.

In [10]:
i = int(input(Enter Number Here :))
i = i-1
for j in range(5,0,-1):
    for k in range(1,j):
            print(k, end=' ') 
    print('')

8
1 2 3 4
1 2 3
1 2
1

### Take input from user and get square of it as output.

In [56]:
num =int(input(Enter Number Here :))
num=num*num
print('Square is =',num)

4
Square is = 16

### Take Input and Cube Of It.

In [62]:
num=int(input(Enter Number Here :))
num=num+1
for i in range(1,num):
    print('The Cube Of',i,'=',i*i*i)

4
The Cube Of 1 = 1
The Cube Of 2 = 8
The Cube Of 3 = 27
The Cube Of 4 = 64

### Prime Number

In [4]:
num=int(input('Enter Your Number Here : '))
f=0
if(num==1):
    f=0
elif(num==0):
    f=1
for i in range(2,num):
    if(num%i==0):
        f=1
        break
if(f==1):
    print(num,'is a not Prime Number.')
else:
    print(num,'is a Prime Number.')

Enter Your Number Here : 77
77 is a not Prime Number.

### Hourglass Figure From Stars

In [5]:
num=int(input(Enter Number Here :))
spaces=0
for i in range(num,0,-2):
    for j in range(spaces):
        print(" ",end=" ")
    spaces+=1
    for j in range(i):
        print("*",end=" ")
    print()    
#Half Way
spaces-=2
for l in range(i+2,num+1,2):
    for j in range(spaces):
        print(" ",end=" ")
    spaces-=1
    for j in range(l):
        print("*",end=" ")
    print()

16
* * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
    * * * * * * * * * * * *
      * * * * * * * * * *
        * * * * * * * *
          * * * * * *
            * * * *
              * *
            * * * *
          * * * * * *
        * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * * * *
  * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

###  Slanted Pyramid

In [26]:
num=int(input(Enter Number Here :))
num+=1
space=num
for i in range(1,num,1):
    for j in range(space):
        print(" ",end=" ")
    space-=1    
    for j in range(i):
        print("*",end=" ")
    print()

5
            *
          * *
        * * *
      * * * *
    * * * * *

###  Diamond Figure with Stars

In [7]:
num=int(input("Number Should Be Odd No. : "))
num+=2
space=num
for i in range(1,num,2):
    for j in range(space):
        print(" ",end=" ")
    space-=1   
    for j in range(i):
        print("*",end=" ")
    print()
#Half Way
for f in range(num,0,-2):
    for j in range(space):
        print(" ",end=" ")
    space+=1
    for j in range(f):
        print("*",end=" ")
    print()

Number Should Be Odd No. : 7
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

### Triangle with Spaces

In [3]:
num=int(input("Enter Number Here : "))
num+=2
space=num
for i in range(1,num,2):
    for j in range(space):
        print(" ",end=" ")
    space-=1   
    for j in range(i):
        print("*",end=" ")
    print()

Enter Number Here : 10
                        *
                      * * *
                    * * * * *
                  * * * * * * *
                * * * * * * * * *
              * * * * * * * * * * *

###  Vertical Trianngle with Spaces

In [31]:
num=int(input())
space=num
for i in range(1,num,1):
    for j in range(space):
        print(" ",end=" ")
    space-=1    
    for j in range(i):
        print("*",end=" ")
    print() 
for k in range(num,0,-1):
    for j in range(space):
        print(" ",end=" ")
    space+=1
    for j in range(k):
        print("*",end=" ")
    print()

5
          *
        * *
      * * *
    * * * *
  * * * * *
    * * * *
      * * *
        * *
          *