# All My Programs

### Take two input and Power of it.

In [1]:

number = int(input())
num = int(input())
for i in range(1):
    print(number,'*',num,'=',number**num,end=' ')

4
8
4 * 8 = 65536

### Take Input and Make pyramid of numbers.

In [10]:
first =int(input())
first = first+1
for i in range(1,first):
    for j in range(1 , i+1):
        print(j , end=' ')
    print('')

10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

### Take Input and Make pyramid of stars.

In [13]:
i = int(input())
i = i+1
for j in range(i):
    for k in range(j):
        print('*', end=' ') 
    print('')

10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

### Print Table of number given by user.

In [21]:
number = int(input())
for i in range(1,11):
    print(number,'x',i,'=',i*number)

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### Make ''ULTA'' Pyramid of stars.

In [19]:
number = int(input())
for i in range(number,0,-1):
    for j in range(i):
        print('*',end=' ')
    print('')

5
* * * * *
* * * *
* * *
* *
*

### Print Numbers in negative that are given by user.

In [16]:
num=int(input())
for i in range(-num,0):
    print(i)

5
-5
-4
-3
-2
-1

### Make Mirror image of vertical form of pyramid.

In [33]:
for j in range(1,11):
    for k in range(j):
        print('*', end=' ') 
    print('')
    
print('--------------------')

for i in range(10,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
--------------------
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Print stars pyramid in vertical direction.

In [6]:
number = int(input())
for j in range(0,number):
    for k in range(j):
        print('*', end=' ') 
    print('')   
for i in range(number,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Print all the combination of a,b,c.

In [19]:
letters = ['a','b','c']
count = 0
for a in letters:
    for b in letters:
        for c in letters:
            count+=1
            string = ''
            string = string + a+b+c
            print(count,')',' ',string)

1 )   aaa
2 )   aab
3 )   aac
4 )   aba
5 )   abb
6 )   abc
7 )   aca
8 )   acb
9 )   acc
10 )   baa
11 )   bab
12 )   bac
13 )   bba
14 )   bbb
15 )   bbc
16 )   bca
17 )   bcb
18 )   bcc
19 )   caa
20 )   cab
21 )   cac
22 )   cba
23 )   cbb
24 )   cbc
25 )   cca
26 )   ccb
27 )   ccc

### Find Odd and Even number from two input given by user.

In [10]:
num = int(input())
num2 = int(input())
num2+=1
even = 0
odd = 0
for i in range(num,num2):
    if i % 2==0:
        even+=1
    else:
        odd+=1
print('Total Even Numbers :',even)
print('Total Odd Numbers :',odd)

5
90
Total Even Numbers : 43
Total Odd Numbers : 43

### Make ''ULTA'' Pyramid of numbers.

In [10]:
i = int(input())
i = i-1
for j in range(5,0,-1):
    for k in range(1,j):
            print(k, end=' ') 
    print('')

8
1 2 3 4
1 2 3
1 2
1

### Take input from user and get square of it as output.

In [15]:
num =int(input())
num=num*num
print('Square is =',num)

5
Square is = 25

### Make table of input no. and print ''The Code Has run Properly'' when code run correctly.

In [4]:
number = int(input())
for i in range(1,11):
    print(number,'x',i,'=',i*number)
else:
    print('The Code Has run Properly')

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
The Code Has run Properly

In [23]:
num=int(input())
for i in range(1,num,+1):
    print('The Cube Of',i,'=',i*i*i)

20
The Cube Of 1 = 1
The Cube Of 2 = 8
The Cube Of 3 = 27
The Cube Of 4 = 64
The Cube Of 5 = 125
The Cube Of 6 = 216
The Cube Of 7 = 343
The Cube Of 8 = 512
The Cube Of 9 = 729
The Cube Of 10 = 1000
The Cube Of 11 = 1331
The Cube Of 12 = 1728
The Cube Of 13 = 2197
The Cube Of 14 = 2744
The Cube Of 15 = 3375
The Cube Of 16 = 4096
The Cube Of 17 = 4913
The Cube Of 18 = 5832
The Cube Of 19 = 6859