# All My Programs

### Take two input and Power of it.

In [11]:
number = int(input("Enter Number Here :"))
num = int(input())
print(number,'*',num,'=',number**num,end=' ')

Enter Number Here :2
7
2 * 7 = 128

### Print all the combination of a,b,c.

In [2]:
letters = ['a','b','c']
count = 0
for a in letters:
    for b in letters:
        for c in letters:
            count+=1
            string = ''
            string = string + a+b+c
            print(count,')',' ',"[",string,"]")

1 )   [ aaa ]
2 )   [ aab ]
3 )   [ aac ]
4 )   [ aba ]
5 )   [ abb ]
6 )   [ abc ]
7 )   [ aca ]
8 )   [ acb ]
9 )   [ acc ]
10 )   [ baa ]
11 )   [ bab ]
12 )   [ bac ]
13 )   [ bba ]
14 )   [ bbb ]
15 )   [ bbc ]
16 )   [ bca ]
17 )   [ bcb ]
18 )   [ bcc ]
19 )   [ caa ]
20 )   [ cab ]
21 )   [ cac ]
22 )   [ cba ]
23 )   [ cbb ]
24 )   [ cbc ]
25 )   [ cca ]
26 )   [ ccb ]
27 )   [ ccc ]

### Print Table of number given by user.

In [23]:
number = int(input("Enter Number Here :"))
for i in range(1,11):
    print(number,'x',i,'=',i*number)

Enter Number Here :4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

### Print Numbers in negative that are given by user.

In [16]:
num=int(input())
for i in range(-num,0):
    print(i)

5
-5
-4
-3
-2
-1

### Take Input and Make pyramid of numbers.

In [1]:
first =int(input("Enter Number Here :"))
first +=1
for i in range(1,first):
    for j in range(1 , i+1):
        print(j , end=' ')
    print('')

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Take Input and Make pyramid of stars.

In [55]:
i = int(input("Enter Number Here :"))
i = i+1
space=1
for j in range(i):
    for k in range(j):
        print('*', end=' ') 
    print('')

7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

### Make ''ULTA'' Pyramid of stars.

In [19]:
number = int(input("Enter Number Here :"))
for i in range(number,0,-1):
    for j in range(i):
        print('*',end=' ')
    print('')

5
* * * * *
* * * *
* * *
* *
*

### Make Mirror image of vertical form of pyramid.

In [33]:
for j in range(1,11):
    for k in range(j):
        print('*', end=' ') 
    print('')
    
print('--------------------')

for i in range(10,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
--------------------
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Print stars pyramid in vertical direction.

In [1]:
number = int(input("Enter Number Here :"))
for j in range(0,number):
    for k in range(j):
        print('*', end=' ') 
    print('')   
for i in range(number,0,-1):
    for f in range(i):
        print('*',end=' ')
    print('')

Enter Number Here :5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Find Odd and Even number from two input given by user.

In [10]:
num = int(input("Enter Number Here :"))
num2 = int(input())
num2+=1
even = 0
odd = 0
for i in range(num,num2):
    if i % 2==0:
        even+=1
    else:
        odd+=1
print('Total Even Numbers :',even)
print('Total Odd Numbers :',odd)

5
90
Total Even Numbers : 43
Total Odd Numbers : 43

### Make ''ULTA'' Pyramid of numbers.

In [58]:
i = int(input("Enter Number Here :"))
for j in range(5,0,-1):
    for k in range(1,j):
            print(k, end=' ') 
    print('')

Enter Number Here :5
1 2 3 4
1 2 3
1 2
1

### Take input from user and get square of it as output.

In [9]:
num =int(input("Enter Number Here :"))
num=num*num
print('Square is =',num)

Enter Number Here :7878676
Square is = 62073535512976

### Take Input and Cube Of It.

In [12]:
num=int(input("Enter Number Here :"))
num=num+1
for i in range(1,num):
    print('The Cube Of',i,'=',i*i*i)

Enter Number Here :5
The Cube Of 1 = 1
The Cube Of 2 = 8
The Cube Of 3 = 27
The Cube Of 4 = 64
The Cube Of 5 = 125

### Prime Number

In [15]:
num=int(input('Enter Your Number Here : '))
f=0
if(num==1):
    f=0
elif(num==0):
    f=1
for i in range(2,num):
    if(num%i==0):
        f=1
        break
if(f==1):
    print(num,'is a not Prime Number.')
else:
    print(num,'is a Prime Number.')

Enter Your Number Here : 0
0 is a not Prime Number.

### Hourglass Figure From Stars

In [23]:
num=int(input("Enter Number Here :"))
spaces=0
for i in range(num,0,-2):
    for j in range(spaces):
        print(" ",end=" ")
    spaces+=1
    for j in range(i):
        print("*",end=" ")
    print()    
#Half Way
spaces-=2
for l in range(i+2,num+1,2):
    for j in range(spaces):
        print(" ",end=" ")
    spaces-=1
    for j in range(l):
        print("*",end=" ")
    print()

Enter Number Here :5
* * * * *
  * * *
    *
  * * *
* * * * *

###  Slanted Pyramid

In [26]:
num=int(input("Enter Number Here :"))
num+=1
space=num
for i in range(1,num,1):
    for j in range(space):
        print(" ",end=" ")
    space-=1    
    for j in range(i):
        print("*",end=" ")
    print()

5
            *
          * *
        * * *
      * * * *
    * * * * *

###  Diamond Figure with Stars

In [6]:
num=int(input("Number Should Be Odd No. : "))
num+=2
space=num
for i in range(1,num,2):
    for j in range(space):
        print(" ",end=" ")
    space-=1   
    for j in range(i):
        print("*",end=" ")
    print()
#Half Way
for f in range(num,0,-2):
    for j in range(space):
        print(" ",end=" ")
    space+=1
    for j in range(f):
        print("*",end=" ")
    print()

Number Should Be Odd No. : 11
                          *
                        * * *
                      * * * * *
                    * * * * * * *
                  * * * * * * * * *
                * * * * * * * * * * *
              * * * * * * * * * * * * *
                * * * * * * * * * * *
                  * * * * * * * * *
                    * * * * * * *
                      * * * * *
                        * * *
                          *

### Triangle with Spaces

In [1]:
num=int(input("Enter Number Here : "))
num+=2
space=num
for i in range(1,num,2):
    for j in range(space):
        print(" ",end=" ")
    space-=1   
    for j in range(i):
        print("*",end=" ")
    print()

Enter Number Here : 5
              *
            * * *
          * * * * *

###  Vertical Trianngle with Spaces

In [5]:
num=int(input())
space=num
for i in range(1,num,1):
    for j in range(space):
        print(" ",end=" ")
    space-=1    
    for j in range(i):
        print("*",end=" ")
    print() 
for k in range(num,0,-1):
    for j in range(space):
        print(" ",end=" ")
    space+=1
    for j in range(k):
        print("*",end=" ")
    print()

4
        *
      * *
    * * *
  * * * *
    * * *
      * *
        *

### While Loops Question

In [1]:
i=0
while(11>i):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
def isPrime(k):
    f = 0
    if(k==1 or k==0):
        f = 1
    else:
        for l in range(2,k):
            if(k%l==0):
                f=1
    if(f==1):
        return False
    else:
        return True

In [4]:
# no=int(input("No. of Elements in List:"))
list1=[12,23,24,121,45,1122,67,29,2,5674]
# for i in range(0,no):
#     numbers=int(input())
#     list1.append(numbers)
for k in list1:
    print(isPrime(k))

False
True
False
False
False
False
True
True
True
False

In [9]:
def productOfDigit(n):
    product=1
    while(n>0):
        y=n%10
        product = product * y
        n=n//10
    return product

In [10]:
print(productOfDigit(3524))

120

### Highest Height of Building in List.

In [3]:
Build=[['Bombay Hospital',200],['The Grand Vardhman',20],["Narad House",15],['Shri Agrasen Bhavan',300]]
Info=Build[0][0]
Height=Build[0][1]
for i in Build:
    if(Height<i[1]):
        Info=i[0]
        Height=i[1]
print("Highest Building")
print("━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━")
print("1)","Information of Building-",Info)
print("2)","Height of Building-",Height,"Meter")

Highest Building
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
1) Information of Building- Shri Agrasen Bhavan
2) Height of Building- 300 Meter

### Smallest Height of Building in List.

In [6]:
Build=[['Bombay Hospital',200],['The Grand Vardhman',20],["Narad House",15],['Shri Agrasen Bhavan',30]]
Info=Build[0][0]
Height=Build[0][1]
for i in Build:
    if(Height>i[1]):
        Info=i[0]
        Height=i[1]
print("Smallest Building")
print("━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━")
print("1)","Information of Building-",Info)
print("2)","Height of Building-",Height,"Meter")

Smallest Building
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
1) Information of Building- Narad House
2) Height of Building- 15 Meter

In [8]:
num=int(input())
for i in range(0,num):
    for k in range(i):
        print("*",end=" ")
    print()

5

*
* *
* * *
* * * *

In [19]:
num=int(input())
for i in range(num):
    for k in range(num):
        print("*",end=" ")
    print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [41]:
height=int(input('Height of Figure :'))
width=int(input("Width  of Figure :"))
for i in range(height):
    for k in range(width):
        print('*',end=" ")
    print()

Height of Figure :5
Width  of Figure :3
* * *
* * *
* * *
* * *
* * *

In [71]:
num=int(input())
num+=1
for i in range(num,0,-1):
    for k in range(1,i):
        print(k,end=" ")
    print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [77]:
num=int(input())
num+=2
space=num
for i in range(1,num,2):
    for k in range(space):
        print(" ",end=" ")
    space-=1
    for k in range(i):
        print("*",end=" ")
    print()

6
                *
              * * *
            * * * * *
          * * * * * * *